.App {
    text-align: center;
  }
  
  /*global styles*/
  a{
    text-decoration: none;
  }
  
  ul{
    list-style: none;
    display: flex;
  }
  
  ul li{
    padding: 0px 10px;
  }
  
  .custom-dot{
    margin-top: -30px;
    color: gray;
    font-size: 5px;
    transition: .3s ease-in-out;
  }
  
  li.slick-active .custom-dot, .custom-dot:hover{
    font-size: 8px;
    color: #0be6f6;
  }
  
  .cunstom-dot-active{
    font-size: 10px;
    color: #0be6f6;
  } 